a {
	color: #F8B400;
}

a:hover {
	color: #FF6363;
}

body {
	background: #125B50;
}

.button:hover {
	color: #FF6363;
}

h1 {
	color: #FAF5E4;
}

h2 {
	color: #F8B400;
}

h3 {
	color: #F8B400;
}

hr {
	border-style: none;
	border-top-style: dotted;
	border-color: #FAF5E4;
	border-width: 5px;
	width: 5%;
}

th {
	color: #FF6363;
}

td {
	color: #FAF5E4;
}

.text {
	color: #FAF5E4;
}

p {
	color: #FAF5E4;
}

label {
	color: #FAF5E4;
}
